<input id="idMan" type="hidden" name="id">
<div class="form-group">
    <label>What to do today</label>
    <input type="text" class="form-control" id="titleMan" name="title" />
</div>
<div class="form-group">
    <label>Date</label>
    <input type="date" id="dateMan" class="form-control" name="date" />
</div>
<div class="form-group">
    <label>Description</label>
    <textarea name="description" id="descMan" class="form-control"></textarea>
</div>
<button type="submit" class="btn btn-outline-secondary">Submit</button>